# this is important: if _build is copied into the docker container, releases will NOT work
_build/
.elixir_ls/
.git/
.vscode/
deps/
.dockerignore
.env
.gitignore
.travis.yml
Dockerfile
README.md
priv/static/
tmp/