/* This file is for your main application css. */

@import "./phoenix.css";
@import "./live_view.css";

body {
  background-color: #4d0061;
  color: #f4f5f6;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ff-header {
  display: flex;
  justify-content: flex-end;
}

.ff-header a:link {
  color: #c62ef9;
  text-decoration: none;
}

.ff-header a:visited {
  color: #c62ef9;
  text-decoration: none;
}

.ff-header a:hover {
  color: #e189fe;
  text-decoration: none;
}

.ff-header a:active {
  color: #ad6ec2;
  text-decoration: underline;
}

.ff-footer {
  display: flex;
  justify-content: center;
}

.ff-footer a:link {
  color: #c62ef9;
  text-decoration: none;
}

.ff-footer a:visited {
  color: #c62ef9;
  text-decoration: none;
}

.ff-footer a:hover {
  color: #e189fe;
  text-decoration: none;
}

.ff-footer a:active {
  color: #ad6ec2;
  text-decoration: underline;
}

.ff-button button {
  background-color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.4rem;
  color: #c62ef9;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.ff-logo {
  min-width: 300px;
  margin: auto;
  /* display: block; */
  /* flex-basis: 527px;
  margin: 2rem 1rem; */
}

.ff-logo img {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ff-logo-title {
  background-color: #4d0061;
  color: #f4f5f6;
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.ff-last-update {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin: 0rem 0 2rem 0;
}

.ff-player {
  min-width: 300px;
  margin: auto;
}

.ff-player-title-date {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin: 0rem 0 2rem 0;
}

.ff-player-title {
  /* background-color: #4d0061;
  color: #f4f5f6; */
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin: 0rem 0 2rem 0;
}

.ff-player-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 2rem 0;
}

input,
select,
textarea {
  background-color: #4d0061;
  color: #f4f5f6;
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-size: 1.4em;
}

.ff-search {
  background-color: #4d0061;
  color: #f4f5f6;
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-size: 1.4em;
}

.ff-results {
  background-color: #4d0061;
  color: #f4f5f6;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  text-align: left;
}

.ff-entity-feeds {
  list-style-image: url("/images/flashfeed_logo_list.png");
}

.ff-entity-feed {
  margin: 0px 0px 16px 0px;
  cursor: pointer;
}

.ff-entity-feed a {
  color: #f4f5f6;
  cursor: pointer;
  text-decoration: none;
}

.ff-entity-feed a:link {
  color: #f4f5f6;
  cursor: pointer;
  text-decoration: none;
}

.ff-entity-feed a:visited {
  color: #f4f5f6;
  cursor: pointer;
  text-decoration: none;
}

.ff-entity-feed a:hover {
  color: #f4f5f6;
  cursor: pointer;
  text-decoration: none;
}

pre {
  padding: 1em;
}

[data-phx-view] {
  padding: 1em;
}

.datalist-polyfill {
  list-style: none;
  display: none;
  background: white;
  box-shadow: 0 2px 2px #999;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.datalist-polyfill:empty {
  display: none !important;
}

.datalist-polyfill>li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}

.datalist-polyfill__active {
  background: #3875d7;
  color: white;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form[phx-submit="load-more"] button {
  margin-bottom: 200px;
}